<h1>
    <center>{{ title }}</center>
</h1>
<br>

{{!-- <main>
    <h1>URL Shortener</h1>
    <form method="POST" action="/shorten" name="shortenUrl" id="unAuthShortenForm">
        <input type="text" id="input" placeholder="Enter URL here" autocomplete="off" autocorrect="off" autocapitalize="off">
        <div class="buttons">
            
            <input id="shortenBtn" type="submit" class="button button-primary button-large shorten-button" value="Shorten">
        </div>
    </form>
    <section id="section"></section>


</main> --}}


<div class="container-fluid">

    {{!-- <h1 class="header">URL Shortener Microservice</h1> --}}
   
    <h3>Example creation usage:</h3>
    <code>http://13.127.147.8:8000/new/https://www.google.com</code>
    <br>
    <code>http://13.127.147.8:8000/new/http://foo.com:80</code>
   
    <h3>Usage:</h3>
    <code>http://13.127.147.8:8000/2871</code>
    <h3>Will redirect to:</h3>
    <code>https://www.google.com/</code>
</div>
